body.container-fluid {
    font-family: "Noto Sans", "Arial", sans-serif;
    font-size: 16px;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    color: #202020;
    padding-top: 20px;
}

h3 {
    color: #404040;
    padding-top: 10px;
}

p {
    color: #808080;
}

.navbar {
    margin-bottom: 20px;
}

footer {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    padding-top: 0px;
    font-size: 28px;
}